/*
    RESET 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    GENERALE 
*/

.container{
    max-width: 1000px;
    margin: 0 auto;
}

*{
    font-family: 'Roboto', sans-serif;
}

h1,h4{
    font-family: 'Fredoka', sans-serif;
}

.clear::after{
    content: "";
    display: table;
    clear: both;
}

/*
    HEADER 
*/

h1{
    text-align: center;
    color: rgb(229, 49, 112);
    margin: 30px 0 60px 0;
}

/*
    MAIN 
*/

main > p{
    text-align: center;
    margin-bottom: 30px;
}

.card{
    float: left;
    height: 80px;
    width: calc((100% / 3) - 10px);
    margin-bottom: 30px;
    background-color: rgb(15, 14, 23);
}

.card:nth-child(2), .card:nth-child(5){
    margin: 0 15px;
}

.photo > img{
    height: 80px;
}

.photo{
    float: left;
}

.info{
    float: left;
    height: 80px;
    width: calc(100% - 100px);
    padding: 10px;
    vertical-align: middle;
    color: white;
    

}

.info > span{
    display: block;
}

.info > a{
    color: rgb(79, 186, 227);
    text-decoration: none;
    font-size: 0.8em;
}
